<%# if logged_in? %>
<% provide(:title, "Help") %>

<h1>Psalms 121</h1>
<p>My help comes from the LORD, the Maker of heaven and earth. indeed, he who watches over Israel will neither slumber nor sleep. </p>

<%# end %>