<% provide(:title, "Home") %>

<div class="p-3 mb-4 mt-2  rounded-3">
  <div class="container-fluid py-1">
    <h1 class="display-5 fw-bold">The Thinkers</h1>
    <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos illo labore maxime molestiae officia quia voluptas voluptatum! Deserunt enim eos error fugit laborum libero, minima molestiae molestias numquam officia tenetur ut, veniam voluptates. Atque dignissimos excepturi modi porro quos repellat!.</p>


    <div class="text-center py-2">
      <%= link_to image_tag('smartkitty.jpg', :class=>"img-fluid rounded-3", :alt=>"The thinking Kitty",  :style => "height: 400px")  %>
    </div>

  </div>


</div>