// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  font-size: 14px;
}

.floating-form {
  position: relative;
  font-size: 12px;
}
.floating-form .form-control {
  background: transparent;
  position: relative;
  z-index: 50;
}

a:link{
  text-decoration: none;
  color: #fff;
}

a:link:hover{
  text-decoration: none;
  color: #f4d03f;
}

a:visited{
  text-decoration: none;
  color: #fff;
}
a:visited:hover{
  text-decoration: none;
  color: #f4d03f;
}