<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" href="#">
      Zion
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>

      <ul class="navbar-nav my-2 my-lg-0">

        <% if logged_in? %>

        <li class="nav-item active">
          <a href="/" class="nav-link">Home
            <span class="sr-only"></span>
          </a>
        </li>

          <li class="nav-item">
            <a href="/about" class="nav-link">About
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/help" class="nav-link">Help
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/contact" class="nav-link">Contact Us
              <span class="sr-only"></span>
            </a>
          </li>

          <li class="nav-item ">
            <a href="/users" class="nav-link">Users
              <span class="sr-only"></span>
            </a>
          </li>





      </ul>

    </div>

    <button class="btn btn-sm btn-primary d-flex m-1">
      <a href="/logout/" class="nav-link text-light">Log Out
        <span class="sr-only"></span>
      </a>
    </button>


          <% else %>

    <button class="btn btn-sm btn-primary d-flex m-1">
      <a href="/login" class="nav-link text-light">Log in
        <span class="sr-only"></span>
      </a>
    </button>

    <button class="btn btn-sm btn-info m-1">
      <a href="/signup" class="nav-link text-dark">Sign Up
        <span class="sr-only"></span>
      </a>
    </button>



  </div>
          <% end %>

</nav>
